bower_components/
node_modules/
releases/
build/
cache/
deploy/
diffs/
**/assets/libs
**/assets/fonts/
**/assets/css/bootstrap.css
**/assets/css/font-awesome.css
**/assets/css/weather-icons.css
**/assets/css/weather-icons-wind.css
**/assets/css/angular-toastr.css
**/assets/css/spinkit.css
**/assets/css/bootstrap.css.map