body{
    border: 5px #FF69B4 solid;
}

.header {
    background-color: #FF69B4;
}

.left-menu{
    background-color: #FF69B4;
}

.main-container .container{
    background-color: #fff;
}

#inputGroup {
    background-color: #FF69B4;
}

.custom-popup-wrapper {
    background-color: #FF69B4;
}

.custom-popup-wrapper > .message {
    border-bottom: 1px solid #ddd;
    color: #ddd;
}

.custom-popup-wrapper > .dropdown-menu {
    background-color: transparent;
}

.custom-popup-wrapper > .dropdown-menu a {
    color: #ddd;
}