<div class="header" ng-controller="HeaderCtrl as vm">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 text-center">
            <img src="./assets/img/television.png" alt="Tv Show Record :)" class="header-img" />
        </div>
        <div class="col-xs-7 col-sm-5 col-md-5 col-lg-5 inputDivFix"> 
            <div class="form-group has-feedback">
               <input type="text" class="form-control rounded"
                    placeholder="Search" title="Looking for something?" id="searchTxt"
                    ng-model="vm.searchQuery"
                    uib-typeahead="result as result.name for result in vm.getResults($viewValue)"
                    typeahead-popup-template-url="customPopupTemplate.html"
                    typeahead-loading="vm.loadingSearch" typeahead-no-results="vm.noResults"/>
               <span ng-show="vm.loadingSearch" class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback" style="color: black; font-size: 20px"></span>
               <span id="clearSearchIcon" ng-click="vm.clearSearch()" ng-show="!vm.loadingSearch && vm.searchQuery" class="glyphicon glyphicon-remove form-control-feedback" style="color: black; font-size: 20px; pointer-events: auto; cursor: pointer;"></span>
            </div>
        </div>
        <div class="col-xs-3 col-sm-5 col-md-6 col-lg-6">
            <div class="pull-right">
                <button id="btnMinimize" type="button" ng-click="vm.minimize()" class="btn btn-default"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></button>
                <button id="btnMaximize" type="button" ng-click="vm.handleMaximize()" class="btn btn-default" aria-hidden="true"><span ng-class="{'glyphicon glyphicon-resize-full' : vm.isMaximized == false , 'glyphicon glyphicon-resize-small': vm.isMaximized == true}" aria-hidden="true"></span></button>
                <button id="btnClose" type="button" ng-click="vm.close()" class="btn btn-default"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
     
    <p ng-if="matches.length == 0">No results found :(</p>

    <ul class="dropdown-menu" role="listbox">
        <li ng-repeat="match in matches" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.group}}</div>
            <a>
                <img ng-if="match.model.img" ng-src="{{match.model.img}}" width="75" height="75" class="rounded">
                <img ng-if="!match.model.img && match.model.group === 'People'" ng-src="./assets/img/person-not-found.png" width="75" height="75" class="rounded">
                <img ng-if="!match.model.img && match.model.group === 'Movies'" ng-src="./assets/img/img_not_found.gif" width="75" height="75" class="rounded">
                <img ng-if="!match.model.img && match.model.group === 'Shows'" ng-src="./assets/img/img_not_found.gif" width="75" height="75" class="rounded">
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            </a>
        </li>
    </ul>
  </div>
</script>