body{
    border: 5px #00001a solid;
}

a{
    color: white;
}

.nav-tabs{
    border-bottom: 2px solid white;
}

.nav-tabs > li{
    background-color: #00001a;
}

.header {
    background-color: #00001a;
}

.left-menu{
    background-color: #00001a;
}

.main-container .container{
    background-color: #fff;
}

#inputGroup {
    background-color: #00001a;
}

.custom-popup-wrapper {
    background-color: white;
    border: 3px #00001a solid;
}

.custom-popup-wrapper > .message {
    border-bottom: 1px solid #00001a;
    color: #00001a;
}

.custom-popup-wrapper > .dropdown-menu {
    background-color: transparent;
}

.typeahead-group-header{
    color: #00001a;
}

.custom-popup-wrapper > .dropdown-menu a {
    color: #00001a;
}

.dropdown-menu > .active > a,
 .dropdown-menu > .active > a:hover,
 .dropdown-menu > .active > a:focus {
    background-color: #00001a;
    color: white;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background-color: #00001a;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #00001a; /* Changes the color when screen lose focus (Gonna pick color later) */
}

.votes-color{
    color: red;
}

.tooltop-style .tooltip-inner{
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #00001a;
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}

.tooltop-style .tooltip-arrow{
    border-bottom-color: white !important;
}
.grid{
    background-color: #00001a;
    color: white; 
}

.grid:hover{
    background-color: white;
    color: #00001a;
}

.grid:hover .fix-remove-from-myshow-icon{
    color: white;
}

.grid:hover .fix-watched-show-icon{
    color: white;
}

.fix-remove-from-myshow-icon:hover{
    color: red !important;
}

.glyphicon-star{
    color: yellow;
}

.app-loading{
    background: rgba(0, 0, 26, .5);
}

.sk-fading-circle .sk-circle:before{
    background-color: #00001a;   
}

.footer{
    color: white;
    background-color: #00001a;
}

.btn-app{
    color: white;
    background-color: #00001a;
}

.btn-app:hover{
    color: #00001a;
    background-color: white;
}

.download-link{
    color: #00001a;
}