body {
    background: url("../img/main-section-background.png") bottom center no-repeat fixed;
    background-color: #000;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    padding-left: 90px;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px !important;
    line-height: 47px !important;
    background-color: #000;
    border-bottom: 2px solid #020a3c;
    -webkit-app-region: drag;
}

    .header input {
        -webkit-app-region: no-drag;
    }

    .header button {
        -webkit-app-region: no-drag;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }

        .header button:focus {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        }

    .header #btnMinimize {
    }

    .header #btnMaximize {
    }

    .header #btnClose {
    }

        .header #btnClose:hover {
            border: none;
            background-color: red;
            color: white;
        }

    .header .header-img {
        color: white !important;
    }

.rounded {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.input-group {
    padding-top: 7px !important;
}

#inputGroup {
    background-color: black;
    color: white;
}

.img-circle {
    border-radius: 50%;
    vertical-align: baseline;
}

.profile {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

    .profile:hover {
        cursor: pointer;        
        width: 95px;
        height: 95px;
        opacity: 0.8;
        border: 2px dotted white;
    }

.profile-ajust-input {
    width: 100% !important;
}