html {
    height: 100%
}

body {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.main-container{
    padding-top: 55px;
}

    /*.main-container .container{
        padding-top: 15px;
        height: 950px;
    }*/
    
.left-menu{
    height: 950px;
}

.auto-height{
    height: 100vh;
}

form{
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
}

.bg-img{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 45px;
    left: 0;    
    opacity: 0.4;
}

.adjust-info{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.adjust-overview{
    font-size: 15px;
    font-weight: bold;
}

.adjust-episodes{
    padding-top: 15px;
}

.show-logo{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.episode-img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
    -webkit-border-radius: 30%;
}

.episode-overview{
    font-size: 30px;
    font-weight: bold;
}

.btn-add-my-show{
    width: 100px;
}

.fix-h1{
    margin-top: 5px;
}

.bgwidth { width: 100%; }
.bgheight { height: 100%; }


.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 55px !important;
    line-height: 47px !important;
    -webkit-app-region: drag;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 0px 1px #000;
    -webkit-box-shadow: 0px 0px 0px 1px #000;
}

    .header input {      
        -webkit-app-region: no-drag;
    }
    
    .header .vertical-align-fix-search{
        margin-top: 10px;
    }
    
    .header .vertical-align-fix-menu{
        margin-top: 4px;
    }

    .header button {
        -webkit-app-region: no-drag;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }

        .header button:focus {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        }

    .header #btnMinimize {
    }

    .header #btnMaximize {
    }

    .header #btnClose {
    }

        .header #btnClose:hover {
            border: none;
            background-color: red;
            color: white;
        }

    .header .header-img {
        color: white !important;
    }
    
    .header .fix-margin{
        padding-right: 25px;
    }

.rounded {
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
}

.input-group {
    padding-top: 7px !important;
}

#searchTxt {
    color: black;
}

.img-circle {
    border-radius: 50%;
    vertical-align: baseline;
}

.profile {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

    .profile:hover {
        cursor: pointer;        
        width: 95px;
        height: 95px;
        opacity: 0.8;
        border: 2px dotted white;
    }

.profile-ajust-input {
    width: 100% !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

#clearSearchIcon:hover{
    color: red !important;
}

.scroll-y{
    overflow-y: auto; 
}

.fix-watched-episode-icon{
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.fix-watched-season-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}

.fix-watched-show-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}

.fix-remove-from-myshow-icon{
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.watched{
    opacity: 0.7 !important;
}

.app-loading{
    position: fixed;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    z-index: 99999999999999;
    pointer-events: none;
}

.sk-fading-circle{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 42%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.hide{
    display: none;
}

/*BEGIN - TYPEAHEAD*/

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    min-width: 300px;
    width: auto;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius:10;
}

.custom-popup-wrapper > .message {
    padding: 10px 20px;
    cursor: pointer;
}

.custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    border-radius: 0;
    box-shadow: none;
}

.custom-popup-wrapper > .dropdown-menu a{
    cursor: pointer;
}
  
.typeahead-group-header {
    padding-left: 15px;
    text-decoration: underline;
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
}
  
/*END TYPEAHEAD*/

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.sideways {
  margin-top:50px;
  border: none;
  position: relative;
}
.sideways>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.sideways>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.sideways.tabs-left {
  left: -50px;
}
.sideways.tabs-right {
  right: -50px;
}
.sideways.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sideways.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*-----------------------------------------------------------------------------------------------*/

/****** SCROLL STYLE ******/

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
  
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/****** END SCROLL STYLE ******/

/*-----------------------------------------------------------------------------------------------*/

/****** GRID STYLE ******/
.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(0.5);
   transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.img-desc-wrap {
    padding: 10px;
}

.img-desc-wrap .title {
    font-size: 18px;
    line-height: 22px;
}

.img-desc-wrap .sub-title {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

.img-desc-wrap .likes-rating-wrap {
    margin-top: 10px;
}

/****** END GRID STYLE ******/

/*-----------------------------------------------------------------------------------------------*/

/****** MEDIA STYLES ******/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .scroll-episodes{
        max-height: 48vh;
        overflow-y: auto; 
    }
    
    .scroll-episode-overview{
        overflow-y: auto;
        max-height: 33vh;
        width: 100%;
    }
    
    .btn-padding-fix{
        padding: 6px 8px;
    }
    
    .btn-padding-menu-fix{
        padding: 6px 8px;
    }
    
    .hide-text{
        display: none !important;
    }
    
    .hide-tooltip{
        display: inline-block !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .scroll-episodes{
        max-height: 53vh;
        overflow-y: auto; 
    }
    
    .scroll-episode-overview{
        overflow-y: auto;
        max-height: 31vh;
        width: 100%;
    }
    
    .btn-padding-fix{
        padding: 6px 4px;
    }
    
    .hide-text{
        display: inline-block !important;
    }
    
    .hide-tooltip{
        display: none !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .scroll-episodes{
        max-height: 58vh;
        overflow-y: auto; 
    }
    
    .scroll-episode-overview{
        overflow-y: auto;
        max-height: 33vh;
        width: 100%;
    }
    
    .btn-padding-fix{
        padding: 6px 8px;
    }
    
    .hide-text{
        display: inline-block !important;
    }
    
    .hide-tooltip{
        display: none !important;
    }
}

/****** END MEDIA STYLES ******/